---
import dk from "../dk.svg";
import Layout from "@layouts/Layout.astro";
import Container from "@layouts/Container.astro";
import { getCollection, getEntry, getEntries } from "astro:content";
import { Image } from "astro:assets";
const indexPage = await getEntry("pages", "dkTalents");

export async function getStaticPaths() {
  const collection = await getCollection("dkTalents");
  return collection.map((entry) => ({
    params: {
      slug: entry.slug,
      subFolder: entry.data.subFolder ? entry.data.subFolder : undefined,
    },
    props: { entry },
  }));
}

// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
const { title, description, color } = dkTalents.data;
import { Image } from "astro:assets";
---

<Layout {title} {description} {color}>
  <div
    class="flex flex-col items-center justify-center prose-headings:text-orange prose-a:text-orange"
  >
    <Container>
      <Content />
    </Container>
    <div
      class="overflow-x-auto w-[calc(100vw-2rem)] md:w-[calc(100vw-5rem)] px-4 md:px-6 gap-8 flex"
    >
      {
        entry.data.slider?.map((slide) => (
          <div class="">
            <Image
              src={slide.image}
              class="max-h-[80vh] aspect-auto  min-w-[500px]  object-contain   w-auto"
              alt={slide.caption}
            />
            <p class="text-sm">{slide.caption}</p>
          </div>
        ))
      }
    </div>
  </div>
</Layout>
