---
import dk from "../dk.svg";
import Layout from "@layouts/Layout.astro";
import Container from "@layouts/Container.astro";
import { getCollection, getEntry } from "astro:content";
import { Image } from "astro:assets";
const schauraum = await getEntry("pages", "schauraum");

export async function getStaticPaths() {
  const schauraeume = await getCollection("schauraum");
  return schauraeume.map((entry) => ({
    params: { slug: entry.slug, subFolder: entry.data.season },
    props: { entry },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
const { title, description, color } = schauraum.data;
---

<Layout {title} {description} {color}>
  <div
    class="flex flex-col items-center justify-center prose-headings:text-purple prose-a:text-purple"
  >
    <Container>
      <Content />
    </Container>
    <div
      class="overflow-x-auto w-[calc(100vw-2rem)] md:w-[calc(100vw-5rem)] p-4 md:p-6"
    >
      <div class="gap-8 flex">
      {
        entry.data.slider?.map((slide) => (
          <div class="img-tint-primary">
            <Image
              src={slide.image}
              class="max-h-[70vh] my-0 aspect-auto max-w-[calc(100vw-4rem)]  object-contain   w-auto"
              alt={slide.caption}
            />
            <p class="text-sm my-0">{slide.caption}</p>
          </div>
        ))
      }
      </div>
    </div>
  </div>
</Layout>
