---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SITE } from "@consts";
import { ViewTransitions } from "astro:transitions";

type Props = {
  title: string;
  description: string;
  blogEmpty?: boolean;
  hideProjects?: boolean;
  open?: boolean;
  showContact?: boolean;
  color?: string;
  frontmatter?: any;
};

const {
  title,
  description,
  blogEmpty,
  hideProjects,
  open = false,
  showContact = false,
  color = "primary",
  frontmatter,
} = Astro.props;
---

<html lang="en" class="overscroll-none">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <Head
      title={`${frontmatter.title ? frontmatter.title : title} | ${SITE.NAME}`}
      description={frontmatter.description
        ? frontmatter.description
        : description}
    />
    <ViewTransitions />
    <style is:global>
      /* a:hover,
      a:focus,
      a:focus-within {
        opacity: 0.5;
      } */
      a:active {
        opacity: 0.5;
      }

      @media only screen and (min-width: 600px) {
        a:hover,
        a:focus {
          opacity: 0.5;
        }
      }
    </style>
  </head>

  <body
    class="font-bold touch-none pointer-events-none box-border p-4 pb-0 md:p-10 md:pb-0 overscroll-none max-h-[100dvh] antialiased flex flex-col items-center justify-center bg-primary"
  >
    <div
      transition:name="bg"
      style="direction: rtl;"
      class="bg-black touch-auto pointer-events-auto relative w-full antialiased scrollbar-thumb-rounded-full scrollbar-track-rounded-full scrollbar scrollbar-thumb-primary scrollbar-track-black overflow-auto h-[calc(100svh-3rem)] md:h-[calc(100vh-5rem)] rounded-r-[5rem] md:rounded-r-[12vw] prose-p:text-primary text-primary"
    >
      <div style="direction: ltr;">
        <Header
          {open}
          {showContact}
          title={frontmatter.title ? frontmatter.title : title}
          {color}
        />
        <main
          class="min-w-full prose-p:text-lg prose-li:pl-0 text-yellow prose-headings:text-yellow prose-strong:text-yellow prose-li:text-yellow prose-a:text-yellow marker:text-primary md:prose-p:text-2xl prose-headings:text-2xl md:prose-headings:mt-4 md:prose-headings:text-3xl prose-p:max-w-6xl font-normal prose text-left prose-yellow"
        >
          <slot />
        </main>
      </div>
    </div>
    <Footer />
  </body>
</html>
