---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SITE } from "@consts";
import { ViewTransitions } from "astro:transitions";

type Props = {
  title: string;
  description: string;
  blogEmpty?: boolean;
  hideProjects?: boolean;
  open?: boolean;
  showContact?: boolean;
};

const {
  title,
  description,
  blogEmpty,
  hideProjects,
  open = false,
  showContact = false,
} = Astro.props;
---

<html lang="en" class="min-h-screen">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <Head title={`${title} | ${SITE.NAME}`} description={description} />
    <ViewTransitions />
  </head>
  <body
    class="font-bold box-border p-4 pb-0 md:p-10 md:pb-0 min-h-[calc(100vh-2.5rem)] antialiased flex flex-col items-center justify-center bg-primary"
  >
    <body class="shadow-inner">
      <div
        transition:name="bg"
        style="direction: rtl;"
        class="bg-black relative w-full scrollbar-thumb-rounded-full scrollbar-track-rounded-full scrollbar scrollbar-thumb-primary scrollbar-track-black overflow-scroll h-[calc(100vh-2.5rem)] md:h-[calc(100vh-5rem)] rounded-r-[5rem] md:rounded-r-[12vw] text-primary"
      >
        <div style="direction: ltr;">
          <Header {open} {showContact} {title} />
          <main class="min-w-full font-normal prose text-left prose-green">
            <slot />
          </main>
        </div>
      </div>
      <Footer />
    </body>
  </body>
</html>
