---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SITE } from "@consts";
import { cn } from "@lib/utils";
import { ViewTransitions } from "astro:transitions";
import { Image } from "astro:assets";

type Props = {
  title?: string;
  description: string;
  blogEmpty?: boolean;
  hideProjects?: boolean;
  open?: boolean;
  showContact?: boolean;
  color?: string;
  frontmatter?: any;
};

const {
  title,
  description,
  blogEmpty,
  hideProjects,
  open = false,
  showContact = false,
  color = "primary",
  frontmatter,
} = Astro.props;
const actualTitle = frontmatter?.title ? frontmatter.title : title;
const isYellow = frontmatter?.color === "yellow";
const slider = frontmatter?.slider;
---

<html lang="en" class="overscroll-none">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <Head
      title={`${actualTitle} | ${SITE.NAME}`}
      description={frontmatter?.description
        ? frontmatter.description
        : description}
    />
    <ViewTransitions />
    <style is:global>
      /* a:hover,
      a:focus,
      a:focus-within {
        opacity: 0.5;
      } */
      a:active {
        opacity: 0.5;
      }

      @media only screen and (min-width: 600px) {
        a:hover,
        a:focus {
          opacity: 0.5;
        }
      }

      .img-tint-primary {
        position: relative;
        display: block;
      }

      .img-tint-primary img {
        filter: contrast(125%) grayscale(100%);
        transition-property: filter, opacity;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 300ms;
        display: block;
      }

      .img-tint-primary::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #e2e823;
        mix-blend-mode: multiply;
        pointer-events: none;
        transition-property: opacity;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 300ms;
      }

      @media (hover: hover) {
        .img-tint-primary:hover::after,
        .img-tint-primary:focus::after {
          opacity: 0;
        }

        .img-tint-primary:hover img,
        .img-tint-primary:focus img {
          filter: contrast(125%) grayscale(0%);
        }
      }
    </style>
  </head>

  <body
    class="font-bold selection:bg-yellow selection:text-black touch-none pointer-events-none box-border p-4 pb-0 md:p-10 md:pb-0 overscroll-none max-h-[100dvh] antialiased flex flex-col items-center justify-center bg-primary"
  >
    <div
      transition:name="bg"
      style="direction: rtl;"
      class="bg-black touch-auto pointer-events-auto relative w-full antialiased scrollbar-thumb-rounded-full scrollbar-track-rounded-full scrollbar scrollbar-thumb-primary scrollbar-track-black overflow-auto h-[calc(100svh-3rem)] md:h-[calc(100vh-5rem)] rounded-r-[5rem] md:rounded-r-[12vw] prose-p:text-primary text-primary"
    >
      <div style="direction: ltr;">
        <Header {open} {showContact} title={actualTitle} {color} />
        <main
          class={cn(
            "min-w-full prose-p:text-lg prose-li:pl-0 marker:text-primary md:prose-p:text-2xl prose-headings:mt-2 prose-headings:text-2xl md:prose-headings:mt-4 md:prose-headings:text-3xl prose-p:max-w-6xl font-normal prose text-left prose-yellow",
            isYellow &&
              "text-yellow prose-headings:text-yellow prose-strong:text-yellow prose-li:text-yellow prose-a:text-yellow"
          )}
        >
          <slot />
        </main>
      </div>
    </div>
    <Footer />
  </body>
</html>
